body {
    line-height: 1.5;
}

.product__details {
    display: flex;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    align-items: flex-start;
}

.product__details img {
    width: 100%;
    height: 100%;
    display: block;
}

.product__details > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.product__details > img {
    width: 500px;
    object-fit: cover;
}

.product__info {
    padding: 1rem;
}

.product__title {
    font-size: 2rem;
    font-weight: 700;
    color: #12263a;
    margin-bottom: 1rem;
}

.product__price {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.product__price span {
    color: #256eff;
}

.product__description {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.product__category {
    font-size: 1rem;
    font-weight: 500;
}

.btns {
    margin-top: 1.5rem;
    display: flex;
    gap: 10px;
}
.product__title span,
.product__price span,
.product__description span,
.product__category span {
    color: #41a4a1;
    font-weight: 600;
}
@media (max-width: 430px) {
  .product-container {
    flex-direction: column;
    padding: 20px;
  }

  .product-image img {
    max-width: 100%;
  }

  .product-info h1 {
    font-size: 20px;
  }

  .price {
    font-size: 18px;
  }
}
