
.header{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(225, 62, 62, 0.25);
    
}

/* body.dark {
    background: #605b5b;
    color: white;
} */
.header_div1{
    width: 200px;
    display: flex;
}
.header_div1_img{
    margin-right: 5px;
    width: 35px;
    height: 35px;
}
.header_div1_title{
    font-size: 1.9rem;
    font-weight: 900;
    letter-spacing: 0.22em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.header_div2{
    width: 800px;
    height: 30px;
    display: flex;
}

ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.header_div2_li {
    list-style-type: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.header_div2_li:hover {
    color: rgb(212, 212, 82);
    cursor: pointer;
}
.header_div2_inp{
    width: 200px;
    height: 35px;
    border: 1px solid black;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    margin-left: 40px;
    cursor: text;
}

.menu_icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 900px) {

    .menu_icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    ul {
        display: none;
    }

    ul.active {
        display: flex;
    }
}
@media (max-width: 440px) {

    .header {
        height: auto;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header_div1 {
        width: 100%;
    }

    .header_div1_title {
        position: static !important;
        font-size: 24px !important;
        left: 0 !important;
    }

    .header_div2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    .menu_icon {
        display: block;
        position: absolute;
        right: 15px;
        top: -35px;
    }

    ul {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: white;
        padding: 10px 0;
        border-radius: 10px;
    }

    ul.active {
        display: flex;
    }

    .header_div2_li {
        font-size: 16px;
    }

    .header_div2_inp {
        width: 90%;
        height: 35px;
        margin-left: 0;
        border-radius: 6px;
        font-size: 15px;
    }
}
